<launch>
  

  		#### Launch motors/ros interface node  ############################# 
  		<node name="interface" pkg="mot_rosbot" type="interface.py" output="screen" clear_params="true">

 
				#load the servoing parameters
		  		<rosparam file="$(find mot_rosbot)/launch/servoing.yaml" command="load"/>
				<param name="debug" value="False" />
				<remap from="/rosebot1/cmd_vel" to ="/rosebot1/cmd_vel_n" />
				<remap from="/mot_rosbot/odomduino_n" to ="/rosebot1/odomduino" />
				

				<!-- #############Examples
<remap from="/ps3/twist" to ="/rosebot1/cmd_vel" />
				<remap from="/mot_rosbot/odom" to ="/rosebot1/odom" />
				 <param name="gainsPL/p" value="10.0" />
				<remap from="pose_estimator/pose" to ="fcu/pose" /> 
				
				###############-->
		  

		</node>



</launch>
