<launch>

  <include file="$(find rosebot_description)/launch/rosebot.launch" />

  <node pkg="rosebot_gazebo" type="carte_commande.py" name="carte_commande" output="screen"/>
  <node pkg="rosebot_description" type="goal_to_vel.py" name="goal_to_vel" output="screen">
      <remap from="cmd_vel" to="rosebot1/cmd_vel"/>
	  <remap from="odom" to="rosebot1/odom"/>
  </node>

  <!-- more default parameters can be changed here -->

</launch>	
