<?xml version="1.0"?>
<launch>
  <rosparam param="ticks_meter">70</rosparam>
  <!--
	<node pkg="rosebot_description" type="pid_velocity.py" name="lpid_velocity">
      <remap from="wheel" to="lwheel"/>
      <remap from="motor_cmd" to="lmotor_cmd"/>
      <remap from="wheel_vtarget" to="lwheel_vtarget"/>
      <remap from="wheel_vel" to="lwheel_vel"/>
      <rosparam param="Kp">200</rosparam>
      <rosparam param="Ki">200</rosparam>
      <rosparam param="Kd">0</rosparam>
      <rosparam param="out_min">-255</rosparam>
      <rosparam param="out_max">255</rosparam>
      <rosparam param="rate">30</rosparam>
      <rosparam param="timeout_ticks">4</rosparam>
      <rosparam param="rolling_pts">5</rosparam>
  </node>
  <node pkg="rosebot_description" type="pid_velocity.py" name="rpid_velocity">
      <remap from="wheel" to="rwheel"/>
      <remap from="motor_cmd" to="rmotor_cmd"/>
      <remap from="wheel_vtarget" to="rwheel_vtarget"/>
      <remap from="wheel_vel" to="rwheel_vel"/>
      <rosparam param="Kp">200</rosparam>
      <rosparam param="Ki">200</rosparam>
      <rosparam param="Kd">0</rosparam>
      <rosparam param="out_min">-255</rosparam>
      <rosparam param="out_max">255</rosparam>
      <rosparam param="rate">30</rosparam>
      <rosparam param="timeout_ticks">4</rosparam>
      <rosparam param="rolling_pts">5</rosparam>
  </node>
	-->

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="carte" default="true"/>
  
  <group if="$(arg carte)">
    <node name="carte_commande" pkg="rosebot_description" type="carte_commande.py" output="screen">
		<remap from="odom" to="rosebot1/odom"/>
	</node>
  </group>

  <node pkg="rosebot_description" type="goal_to_vel.py" name="goal_to_vel" output="screen">
      <remap from="cmd_vel" to="rosebot1/cmd_vel"/>
	  <remap from="odom" to="rosebot1/odom"/>
  </node>

  <!-- more default parameters can be changed here -->

</launch>
